%h1
  Fill out the form for every time you poop:

%form
  %input(placeholder = 'Poop time (minutes)') 
  %input(placeholder = 'Poop type (1-7)')
  %input(placeholder = 'Weight')


  %div brown
  %div light brown
  %div black
  %div red
  %div orange
  %div green
  %div gray
  %div light green
  %div dark brown

  %h2
    Sign up or 
    %a Sign In
  %input(placeholder = 'Username')
  %input(placeholder = 'Email')
  %input(placeholder = 'Password')
  %input(placeholder = 'Password Confirmation')
  %input(type = 'submit')
