@import 'mixins'
@import 'whitespace-reset'

body
  background: image_url('bg.png')
  background: #323243
  background: #ccc
  font-family: "Helvetica", "Arial"

section#main
  width: 460px
  margin: 0 auto

  & > header
    padding: 34px 0 24px 0
    h1
      +image-replace('logo')
      width: 218px
      height: 34px

section#content
  background: image_url('content-bg.jpg')
  border: solid 1px #7f7868
  border-radius: 3px
  min-height: 500px
  padding: 25px
  h1
    font-weight: normal

form.poop
  h1
    padding: 10px 0
    font-size: 20px
    font-weight: bold
    border-bottom: solid 1px #ccc
  fieldset
    padding: 20px 0 0 0
    label
      display: block
    input
      +box-sizing
      height: 45px
      border-radius: 3px
      padding-left: 5px
      font-size: 14px
      border: solid 1px #ccc
    li
      padding: 5px 0
      float: left

  fieldset.poop
    margin-right: 10px

  fieldset.colors, fieldset.kinds
    +box-sizing(border-box)
    div
      width: 100px
      height: 100px
      float: left
      border: solid 1px #ccc
      color: #efefef
      font-weight: bold
      margin: 5px
      border-radius: 5px
      overflow: hidden
      font-size: 12px
      padding: 2px

    .active
      border: solid 3px #000000
      margin: 3px
      +box-shadow(0 0 2px 2px #ccc)


  fieldset.kinds
    .active
      border: solid 3px #000000
    div
      background: #fff
      color: #aaaaaa
      background: image_url('poop_sprite.jpg') no-repeat #ffffff
    .nut
      background-position: 3px 10px
    .lumpy
      background-position: 3px -90px
    .sausage
      background-position: 3px -190px
    .snake
      background-position: 3px -300px
    .blobs
      background-position: 3px -400px
    .fluffy
      background-position: 3px -500px
    .watery
      background-position: 3px -600px

  fieldset.user
    clear: both
    h2
      font-weight: normal
      margin: 10px 0
      a
        text-decoration: none
      a.active
        font-weight: bold
        color: #000000
        border-bottom: solid 2px green

  fieldset.user
    input[type=text], input[type=password], input[type=email]
      width: 100%

    ul.sign_in
      display: none

  fieldset.actions
    input[type=submit]
      +gradient-bg(#187c0a, #085727)
      font-size: 16px
      color: #fff
      font-weight: bold
      &:active
        +gradient-bg(#085727, #187c0a)
